### Project ###
env/
venv/

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media
media_root/

### Environment ###
.DS_Store
.env

### IDE ###
.idea

### Testing ###
.coverage
htmlcov/
chromedriver

